@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Syne&display=swap');

.header-container {
    display: flex;
    align-items: center;
    height: 42px;
    color: #626262;
    margin-left: 90px;
}

.left-menu span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 13px;
}

.left-menu img {
    width: 21px;
    height: 12.9px;
    margin-top: 15px;
}

.right-heading {
    display: flex;
    margin-left: 750px;
    color: #626262;
}

.right-menu-1 span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    padding-left: 30px;
}

.right-menu-1 img {
    padding-left: 8px;
}